body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: monospace;
	justify-content: center;
	height: 90vh;
}

.box {
	display: flex;
	height: 32px;
	justify-content: center;
	margin: 12px;
}

#url-box {
	align-items: flex-end;
	min-width: 10%;
}

form {
	width: 100%;
}

form input {
	font: inherit;
	border: none;
	border-bottom: 1px dotted black;
	outline: none;
	width: 100%;
}

form input.ok {
	border-bottom-color: green;
}

form input.invalid {
	border-bottom-color: red;
}

#button-box {
	align-items: center;
	width: 32px;
}

button {
	background: none;
	border: none;
	border: 1px solid black;
	border-radius: 1px;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
	color: inherit;
	cursor: not-allowed;
	font: inherit;
	height: 100%;
  padding: 0;
	outline: inherit;
	width: 100%;
}

button.ok {
	background: lightgreen;
	cursor: pointer;
}

button.invalid {
	background: lightcoral;
}

button.back {
	font-size: 18px;
	line-height: 36px;
}

.not-found h1 {
	font-size: 72px;
	margin: 0;
}

.not-found h2 {
	font-size: 16px;
	margin: 0;
}

#short-url-box {
  display: none;
}

#short-url {
  border-bottom: 1px dotted blue;
  color: black;
  text-decoration: none;
}

#short-url-comment {
	color: red;
	vertical-align: 0.06em;
}
